:root {
  --navbar-bg-color: #39b7ff;
  --navbar-height: 150px;
}

body {
  background-color: rgb(233, 233, 233);
  margin: 0;
}

button:hover {
  cursor: pointer;
}

#modal,
#ContainerParent {
  position: absolute;
  top: var(--navbar-height);
}

#searchBtn,
#logOutBtn {
  width: 100px;
  height: 30px;
  border-radius: 10px;
  border: none;
  background-image: linear-gradient(to right bottom, #a0b5eb, #c9f0e4);
  margin-bottom: 30px;
}

#logOutBtn {
  margin-right: 100px;
}

#createBtn {
  width: 85%;
  height: 30px;
  border-radius: 10px;
  background-image: linear-gradient(to right bottom, #a0b5eb, #c9f0e4);
  border: none;
  margin-top: 30px;
}

#createBtnContainer {
  display: flex;
  justify-content: center;
}

#searchBox {
  border: 1px solid #a0b5eb;
}

#EventsContainer {
  /* display: grid; */
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  /* grid-template-columns: 1fr 1fr;
  margin: 10px;*/
  border-radius: 10px;
}

#SideBarContainer {
  border: 1px solid #a0b5eb;
  background-color: #d8d8d8;
  border-radius: 10px;
  max-width: 450px;
  margin-right: 20px;
}

#ContainerParent {
  margin-top: 25px;
  display: grid;
  grid-template-columns: 1fr 2.25fr;
  grid-gap: 20px;
}

#Header {
  display: block;
  justify-content: center;
}

#EventBox {
  width: 300px;
  height: 300px;
  border: 1px solid A0B5EB;
  padding: 0 20px;
  margin: 10px;
  border-radius: 10px;
  background-image: linear-gradient(to right bottom, #a0b5eb, #c9f0e4);
  animation: float 7s ease-in-out infinite;
  color: rgb(33, 33, 33);
}

@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(-7px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
}

#citySearch,
#stateSearch {
  width: 85%;
  height: 30px;
  border-radius: 10px;
  border: none;
  outline: none;
  margin-bottom: 10px;
  padding-left: 5px;
}

#citySearch {
  margin-top: 15px;
}

#searchBox {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border: 1px solid #afafaf;
}

#modalContainer {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  background-image: linear-gradient(to right bottom, #a0b5eb, #c9f0e4);
}

#modal {
  width: 400px;
  height: 500px;
  margin-top: 25px;
  background: rgba(225, 225, 255, 0.09);
  backdrop-filter: blur(5px);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #e8ebea;
}

.form-tabs {
  width: 60%;
  display: flex;
  justify-content: space-between;
}

.form-tabs h2:hover {
  cursor: pointer;
}

.selected-tab {
  text-decoration: underline;
  color: green;
}

#signUpBtn,
#logInBtn,
#deleteBtn {
  width: 120px;
  height: 40px;
  font-size: 1.15rem;
  border-radius: 35px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
  margin-left: 15px;
  border: none;
  outline: none;
}

#inputBox {
  height: 35px;
  width: 250px;
  border-radius: 20px;
  border: none;
  outline: none;
  padding-left: 15px;
  font-size: 1.15rem;
  margin-bottom: 20px;
}

.main-page {
  background-color: var(--navbar-bg-color);
}

.main-header {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  background-color: var(--navbar-bg-color);
}

#main-logo {
  width: 150px;
  padding-left: 20px;
}

.navbar {
  position: absolute;
  height: var(--navbar-height);
  display: flex;
  justify-content: space-between;
  top: 0;
  width: 100vw;
  background-color: var(--navbar-bg-color);
}

.navbar ul {
  display: flex;
  align-items: center;
}

.navbar li {
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  display: inline-block;
  text-transform: uppercase;
  margin-right: 80px;
}

.navbar a {
  text-decoration: none;
}

.navbar a:hover {
  color: white;
}

.showcase {
  background-image: url(../images/background.png);
  background-size: cover;
  background-position: 50% 50%;
  width: 100vw;
  height: 100vh;
}

.icons {
  display: flex;
  justify-content: space-between;
}

.icons button {
  border: none;
  background: transparent;
}
